API_HOST=0.0.0.0
API_PORT=5000

NODE_ENV=development
TIME_ZONE=UTC

LOG_LEVEL=debug
CORS_CREDENTIALS=false
CORS_ORIGIN=true

DB_HOST=localhost
DB_READ_HOST=localhost
DB_PORT=5432
DB_USER=contact_tracing
DB_PASSWORD=contact_tracing
DB_DATABASE=contact_tracing
DB_SSL=false

JWT_SECRET=secret
CODE_LENGTH=6
CODE_CHARSET=0123456789
CODE_LIFETIME_MINS=10
DEFAULT_COUNTRY_CODE=
SMS_QUEUE_URL=
SYMPTOM_DATE_OFFSET=0
USE_TEST_DATE_AS_SYMPTOM_DATE=false
ONSET_DATE_MANDATORY=false
SMS_SCHEDULING=
ENCRYPT_KEY=

ISSUE_PROXY_URL=
ISSUE_PROXY_API_KEY=

REDUCED_METRICS_WHITELIST=CALLBACK_OPTIN,CALLBACK_SENT,CASES,CHECK_IN,DEATHS,FORGET,INTEROP_KEYS_DOWNLOADED,INTEROP_KEYS_UPLOADED,UPLOAD,SMS_SENT,CONTACT_NOTIFICATION
